/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/




@font-face {
    font-family: 'PT Mono';
    src: url('../fonts/PT Mono.woff') format('woff');
    font-weight: bold;
    font-style: normal;
	font-size: 500%;
}


html {
	font-family: PT Mono, monospace;
	font-size: 250%;

}

time {
	position: absolute;
}

/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: red;
  color: yellow;
}

h6{
	font-size: 50%;
	text-align: center;
}
